a {
  color: $link-text-color;

  &:link,
  &:visited,
  &:active {
    text-decoration: underline;
    color: $light-text-color;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $link-text-color;
  }
}

h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  line-height: $h1-line-height;
  color: $header-text-color;
}

h2 {
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
  line-height: $h2-line-height;
  color: $header-text-color;
}

h3 {
  font-size: $h3-font-size;
  font-weight: $h3-font-weight;
  line-height: $h3-line-height;
  color: $header-text-color;
  margin-bottom: 2px;
}

h4 {
  font-size: $h4-font-size;
  font-weight: $h4-font-weight;
  line-height: $h4-line-height;
  color: $header-text-color;
}

h5 {
  font-size: $h5-font-size;
  font-weight: $h5-font-weight;
  line-height: $h5-line-height;
  color: $header-text-color;
}

p {
  font-size: $p-font-size;
  font-weight: $p-font-weight;
  line-height: $p-line-height;
}

.text-align-c {
  text-align: center;
}
